# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gluu-terraform-provider

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/
.terraform/
terraform.tfstate*

.gradle/

# docs
site/

# releases
*.zip

.DS_Store
